[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-settings:before {
    content: "\e91c";
    color: #404553;
}

.icon-checkbox-unchecked:before {
    content: "\e901";
    color: #404553;
}

.icon-checkbox-checked:before {
    content: "\e914";
    color: #404553;
}

.icon-account:before {
    content: "\e94f";
}

.icon-address-map:before {
    content: "\e950";
}

.icon-air-con:before {
    content: "\e960";
}

.icon-angle-down:before {
    content: "\e902";
}

.icon-angle-up:before {
    content: "\e905";
}

.icon-angle-left:before {
    content: "\e908";
}

.icon-angle-right:before {
    content: "\e910";
}

.icon-arrow-left:before {
    content: "\e921";
}

.icon-arrow-right:before {
    content: "\e926";
}

.icon-bell:before {
    content: "\e927";
}

.icon-booking:before {
    content: "\e952";
}

.icon-box:before {
    content: "\e957";
}

.icon-bucket:before {
    content: "\e913";
}

.icon-car-cleaning:before {
    content: "\e961";
}

.icon-carpet:before {
    content: "\e90b";
}

.icon-chat:before {
    content: "\e915";
}

.icon-check:before {
    content: "\e90c";
}

.icon-close:before {
    content: "\e922";
    color: #404553;
}

.icon-close-circle:before {
    content: "\e923";
    color: #404553;
}

.icon-credit-card:before {
    content: "\e90a";
}

.icon-customer-support:before {
    content: "\e953";
}

.icon-door-handle:before {
    content: "\e916";
}

.icon-drain:before {
    content: "\e958";
}

.icon-exclamation-circle:before {
    content: "\e917";
}

.icon-fan:before {
    content: "\e956";
}

.icon-faq:before {
    content: "\e94d";
}

.icon-faucet:before {
    content: "\e95a";
}

.icon-fridge:before {
    content: "\e90d";
}

.icon-hatchback:before {
    content: "\e924";
}

.icon-home:before {
    content: "\e91a";
}

.icon-iron:before {
    content: "\e90f";
}

.icon-language:before {
    content: "\e954";
}

.icon-lightbulb:before {
    content: "\e962";
}

.icon-lightning-bolt:before {
    content: "\e959";
}

.icon-lights:before {
    content: "\e95b";
}

.icon-lock:before {
    content: "\e955";
}

.icon-map-marker:before {
    content: "\e925";
}

.icon-plus:before {
    content: "\e903";
    color: #404553;
}

.icon-minus:before {
    content: "\e900";
}

.icon-more:before {
    content: "\e91b";
}

.icon-moving-truck:before {
    content: "\e965";
}

.icon-oven:before {
    content: "\e93d";
}

.icon-paintbrush:before {
    content: "\e964";
}

.icon-paperclip:before {
    content: "\e951";
}

.icon-payments:before {
    content: "\e945";
}

.icon-picture-frame:before {
    content: "\e919";
}

.icon-plumbing:before {
    content: "\e95c";
}

.icon-plumbing-water:before {
    content: "\e967";
}

.icon-power-outlet:before {
    content: "\e95d";
}

.icon-privacy-off:before {
    content: "\e906";
}

.icon-privacy-on:before {
    content: "\e911";
}

.icon-puppy:before {
    content: "\e966";
}

.icon-radio-checked:before {
    content: "\e934";
}

.icon-radio-unchecked:before {
    content: "\e904";
}

.icon-roadster:before {
    content: "\e928";
}

.icon-sedan:before {
    content: "\e929";
}

.icon-services:before {
    content: "\e920";
}

.icon-smile:before {
    content: "\e933";
}

.icon-spanner:before {
    content: "\e90e";
}

.icon-star:before {
    content: "\e918";
}

.icon-suv:before {
    content: "\e92a";
}

.icon-table:before {
    content: "\e907";
    color: #404553;
}

.icon-target:before {
    content: "\e93c";
}

.icon-toilet:before {
    content: "\e95f";
}

.icon-tools:before {
    content: "\e963";
}

.icon-user:before {
    content: "\e909";
}

.icon-washing-machine:before {
    content: "\e94e";
}

.icon-windows:before {
    content: "\e912";
}