<div class="container dashboard">
  <div class="our-services">
    <h2 class="service-title">Our services</h2>
    <div class="small-underline"></div>
  </div>
  <h2 class="bringing-a-vision-to ">Bringing your vision to life</h2>

  <div class="row space-reset service-row">


    <div class="col-12 col-md-4 space-reset">
      <div class="imageHolder">
        <img alt="services robosoft" class="service-logo " src="https://d1y58d4vn5zi1a.cloudfront.net/our-services/Consulting_Icon.png">
      </div>
      <h4 class="service-type">Crazy Colors</h4>
      <p class="service-description">Buy & sell your Paintings Here.</p>
    </div>


    <div class="col-12 col-md-4 space-reset">
      <div class="imageHolder">
        <img alt="services robosoft" class="service-logo " src="https://d1y58d4vn5zi1a.cloudfront.net/our-services/Consulting_Icon.png">
      </div>
      <h4 class="service-type">Satan Creations</h4>
      <p class="service-description">Delivering Designs with accuracy and impact</p>
    </div>
    <div class="col-12 col-md-4 space-reset">
      <div class="imageHolder">
        <img alt="services robosoft" class="service-logo " src="https://d1y58d4vn5zi1a.cloudfront.net/our-services/Consulting_Icon.png">
      </div>
      <h4 class="service-type">Khadava The Band</h4>
      <p class="service-description">View our musics</p>
    </div>
  </div>
</div>